{% extends "base.html" %}

{% block navigation %}
<a href="/profile" class="navbar-item"> Home </a>
<a href="/logout" class="navbar-item"> Logout </a>
{% endblock %}

{% block content %}

<div class="column is-6 is-offset-3">
	<div class="box">
		<a href="{{ url_for('book_info', book_isbn=bookInfo.isbn) }}" style="color: blue"> Back </a>
		<h3 class="title" align="center" style="color: grey; padding-bottom: .75rem">Book Details </h3>
		<h4 class="subtitle" style="color: grey">Book Title : {{bookInfo.title}} </h4>
		<h4 class="subtitle" style="color: grey">ISBN : {{bookInfo.isbn}} </h4>
		<h4 class="subtitle" style="color: grey">Author : {{bookInfo.author}} </h4>
		<h4 class="subtitle" style="color: grey">Year of publication : {{bookInfo.year}} </h4>
		<h4 class="subtitle" style="color: grey">Goodreads rating : {{ratingInfo['average_rating']}}/5 ({{ratingInfo['work_ratings_count']}} Reviews)</h4>
		{% if user_rating.round != None %}
		<h4 class="subtitle" style="color: grey">User Rating : {{user_rating.round}}/5 ({{user_rating.count}} Reviews)</h4>
		{% else %}
		<h4 class="subtitle" style="color: grey">User Rating : No Reviews given</h4>
		{% endif %}
		<h4 class="title" style="color: grey; padding-top: .75rem">Reviews : </h4>
		{% for rev, reviewer in reviews %}
		<article class="media">
			<div class="media-content">
				<div class="content">
					<p style="font-size: 16px">
						<strong style="font-size: 20px">{{reviewer.name}}</strong>
						<br>
						{{rev.review}}
					</p>
				</div>
			</div>
		</article>
		{% else %}
		<article class="media">
			<div class="media-content">
				<div class="content">
					<p>
						<strong style="font-size: 20px">No reviews</strong>
					</p>
				</div>
			</div>
		</article>
		{% endfor %}
		
	</div>
</div>

{% endblock %}